.login__bg {
    /* background-image:url(../assests/login.png); */
    background-image: url(../assets/login.png);
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    
}
